@tailwind base;
@tailwind components;
@tailwind utilities;

.create-view-users-block {
    width: 1300px;
    margin: 0 auto;
    padding: 25px 20px 20px 20px;
}

.create-users-block {
    width: 1300px;
    margin: 1% auto;
    background-color: #ffffff;
    padding: 25px 20px 20px 20px;
}

.about-users-block {
    width: 1300px;
    margin: 1% auto;
    background-color: #ffffff;
    padding: 25px 20px 20px 20px;
}

.show-users-block {
    width: 1300px;
    margin: 1% auto;
    background-color: #ffffff;
    padding: 25px 20px 20px 20px;
}

.form-group {
    margin-bottom: 15px;
}

.block-admin {
    width: 1300px;
    margin: 1% auto;
}

.create-for-style {
    margin: 20px auto;
    width: 1300px;
}

////
.table th, .table td {
    padding: 0.55rem 0.75rem;
}

.adverts-list {
    .advert {
        margin: 20px 0;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;

        &:first-of-type {
            margin-top: 0;
        }
    }
}

