@tailwind base;
@tailwind components;
@tailwind utilities;


.create-view-users-block {
    width: 1300px;
    margin: 1% auto;
    padding: 25px 20px 20px 20px;
}

.create-users-block {
    width: 1300px;
    margin: 2% auto;
    background-color: #ffffff;
    padding: 25px 20px 20px 20px;
}

.about-users-block {
    width: 1300px;
    margin: 2% auto;
    background-color: #ffffff;
    padding: 25px 20px 20px 20px;
}

.show-users-block {
    width: 1300px;
    margin: 2% auto;
    background-color: #ffffff;
    padding: 25px 20px 20px 20px;
}

.form-group {
    margin-bottom: 15px;
}

.block-admin {
    width: 1300px;
    margin: 1% auto;
}
